<ion-view title="Einstellungen" black>


  <ion-content padding="true" class="has-header">
  	
  	<ion-list>

		<ion-checkbox ng-model="settings.darkmode" class="checkbox-dark" black>Dark-Mode</ion-checkbox>
    <ion-checkbox ng-model="settings.calInter" class="checkbox-dark" black>Kalender Nachfrage</ion-checkbox>
    <ion-checkbox ng-model="settings.examSync" class="checkbox-dark" black>Pr&uuml;fungen auto. hinzuf&uuml;gen</ion-checkbox>

		<button class="button button-full button-balanced" ng-click="save()">
        	<i class="icon ion-ios-checkmark-outline"></i> Speichern
    	</button>

    	<button class="button button-full button-assertive" ng-click="resetMenu()">
        	<i class="icon ion-trash-a"></i> Reset-Menu
    	</button>

	</ion-list>

  </ion-content>
</ion-view>