<ion-view title="Hausaufgaben" black>

  <footerc></footerc>

  <ion-content padding="true" >

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reload()"></ion-refresher>

      <ion-list>
      <div black>
      <ion-item ng-repeat="homework in data" class="c-list-item " ng-click="homeworkClick(homework)">
        
        <div class="row no-padding">
          <div class="col c-list-text">{{ homework.text }}</div>
        </div>

        <div class="row no-padding">
          <div class="col calm tal">{{homework.start}}</div>
          <div class="col positive tal">{{homework.end}}</div>

          <div class="col col-10 royal tar">{{homework.subject}}</div>
        </div>

    </ion-item>
    </div>
    </ion-list>

    <div class="h50"></div>
    

  	
  </ion-content>

</ion-view>