<ion-view title="Info" black>
  <ion-content padding="true" class="has-header">
    <h1 black>schunits</h1>

    <ion-list>
      
      <ion-item class="item-divider" item-black >Entwickler</ion-item>
      
      <ion-item class="item-icon-left" item-black  onclick="window.open('https://rho2.eu', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-world-outline"></i>Website
      </ion-item>
      
      <ion-item class="item-icon-left" item-black onclick="window.open('https://github.com/rho2', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-github-outline"></i>Github
      </ion-item>
      
      <ion-item class="item-icon-left" item-black href="mailto:schunits@rho2.eu">
        <i class="icon ion-ios-email-outline"></i>E-Mail
      </ion-item>
      

      <ion-item class="item-divider" item-black>App</ion-item>
      
      <ion-item class="item-icon-left" item-black onclick="window.open('http://schunits.rho2.eu', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-world"></i>Website
      </ion-item>
      
      <ion-item class="item-icon-left" item-black onclick="window.open('hhttps://github.com/rho2/schunits', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-github"></i>Github
      </ion-item>

      <ion-item class="item-divider" item-black>Open-Source</ion-item>


      <div class="item item-divider" item-black onclick="window.open('https://github.com/driftyco/ionic', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">Ionic</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <div class="item item-divider" item-black onclick="window.open('https://github.com/driftyco/ionicons', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">IonIcons</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/rajeshwarpatlolla/ionic-toast', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">ionic-toast</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <div class="item item-divider" item-black onclick="window.open('https://github.com/rajeshwarpatlolla/ionic-datepicker', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">ionic-datepicker</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/Telerik-Verified-Plugins/NativePageTransitions', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">NativePageTransitions</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/apache/cordova-plugin-file', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">cordova-plugin-file</div>
            <div class="col col-20 ovh tar">Apache-2</div>
          </div>
      </div>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/wildabeast/BarcodeScanner', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">PhoneGap Plugin BarcodeScanner</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/EddyVerbruggen/Calendar-PhoneGap-Plugin', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">PhoneGap Calendar plugin</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>

      <div class="h10" item-black></div>

    </ion-list>
<!--     <div class="button-bar">
      <button class="button button-light  button-block button-icon icon ion-social-android"></button>
      <button class="button button-light  button-block button-icon icon ion-social-apple"></button>
      <button class="button button-light  button-block button-icon icon ion-social-windows"></button>
    </div>
 -->
  </ion-content>
</ion-view>