<ion-view title="Info" black>
  <ion-content padding="true" class="has-header">
    <h1 black>schunits</h1>

    <ion-list>
      
      <ion-item class="item-divider" item-black >Entwickler</ion-item>
      
      <ion-item class="item-icon-left" item-black  onclick="window.open('https://rho2.eu', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-world-outline"></i>Website
      </ion-item>
      
      <ion-item class="item-icon-left" item-black onclick="window.open('https://github.com/rho2', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-github-outline"></i>Github
      </ion-item>
      
      <ion-item class="item-icon-left" item-black href="mailto:schunits@rho2.eu">
        <i class="icon ion-ios-email-outline"></i>E-Mail
      </ion-item>
      

      <ion-item class="item-divider" item-black>App</ion-item>
      
      <ion-item class="item-icon-left" item-black onclick="window.open('http://schunits.rho2.eu', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-world"></i>Website
      </ion-item>
      
      <ion-item class="item-icon-left" item-black onclick="window.open('hhttps://github.com/rho2/schunits', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-github"></i>Github
      </ion-item>

      <ion-item class="item-divider" item-black>Open-Source</ion-item>


      <div class="item item-divider" item-black onclick="window.open('https://github.com/driftyco/ionic', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">Ionic</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <div class="item item-divider" item-black onclick="window.open('https://github.com/driftyco/ionicons', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">IonIcons</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <ion-item class="item-text-wrap" item-black style="font-size: 80%; line-height: 125%;">
        Copyright 2015-present Drifty Co.<br>
        http://drifty.com/<br>
        <br>
        MIT License<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
        <br>  
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </ion-item>

      <ion-item item-black></ion-item>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/rajeshwarpatlolla/ionic-toast', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">ionic-toast</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <div class="item item-divider" item-black onclick="window.open('https://github.com/rajeshwarpatlolla/ionic-datepicker', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">ionic-datepicker</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <ion-item class="item-text-wrap" item-black style="font-size: 80%; line-height: 125%;">
        The MIT License (MIT)<br>
        <br>
        Copyright (c) 2016 Rajeshwar Patlolla<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
        <br>  
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </ion-item>

      <ion-item item-black></ion-item>

      <div class="item item-divider" item-black onclick="window.open('https://github.com/Telerik-Verified-Plugins/NativePageTransitions', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">NativePageTransitions</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <div class="item item-divider" item-black onclick="window.open('https://github.com/pbakondy/filelogger', '_system', 'location=yes'); return false;">
          <div class="row">
            <div class="col ovh">Ionic File Logger</div>
            <div class="col col-20 ovh tar">MIT</div>
          </div>
      </div>
      <ion-item class="item-text-wrap" item-black style="font-size: 80%; line-height: 125%;">
        The MIT License (MIT)<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
        <br>  
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </ion-item>

      <div class="h10" item-black></div>

    </ion-list>
<!--     <div class="button-bar">
      <button class="button button-light  button-block button-icon icon ion-social-android"></button>
      <button class="button button-light  button-block button-icon icon ion-social-apple"></button>
      <button class="button button-light  button-block button-icon icon ion-social-windows"></button>
    </div>
 -->
  </ion-content>
</ion-view>