<ion-view title="Prüfungen">
  <footerc ></footerc>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-more" ng-click="more()"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header" black>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reload()">
    </ion-refresher>

  	<ion-list>

      <ion-item ng-repeat="exam in data" class="c-list-item " padding="true" ng-click="examClick(exam)" on-swipe-left="addToCalender(exam)">
  			
    			<div class="row no-padding">
    				<div class="col c-list-text">{{ exam.text || '-' }}</div>
            <div class="col col-10 energized tar" ng-if="exam.mark">{{exam.mark}}<i class="icon ion-ribbon-b"></i></div>
    			</div>

    			<div class="row no-padding">
    				<div class="col calm tal">{{exam.date}}</div>
    				<div class="col balanced tac">{{exam.room}}</div>
    				<div class="col col-10 royal tar">{{exam.subject_short}}</div>
    			</div>
        </ion-item>
    </ion-list>

    <div class="h50"></div>

  </ion-content>

</ion-view>