<ion-view title="Sprechstunden">

  <div class="bar bar-footer row bw text-right">
        <div style="width: 80%"></div>
        <div style="width: 12%">
            <button class="button button-icon icon ion-calendar" ng-click="openDatePicker()"></button>
        </div>
  </div>

  <ion-content padding="true" >

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reload()">
    </ion-refresher>

  	<ion-list padding="true">
  		<ion-item ng-repeat="hour in data" class="c-list-item " padding="true" ng-click="hourClick(hour)">
  			
  			<div class="row">
  				<div class="col col-33 royal">{{ hour.teacher }}</div>
  				<div class="col col-66 tar">{{ hour.mail }}</div>
  			</div>

  			<div class="row ">
  				<div class="col calm tal">{{ hour.day }}</div>
  				<div class="col calm tal">{{ hour.date }}</div>
  				<div class="col positive tar">{{ hour.start }}</div>
  				<div class="col positive tar">{{ hour.end }}</div>
  			</div>

 		</ion-item>
  	</ion-list>

    <div class="h10"></div>
  </ion-content>

</ion-view>