<ion-view >

    <ion-nav-title>Fehlzeit</ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" black>
        <ion-list>
            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-person"></i> {{absence.student}}</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-people"></i> {{absence.class_name}}</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span class="calm"><i class="icon ion-ios-calendar-outline "></i> {{ absence.day }} {{absence.date}}</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span class="positive"><i class="icon ion-ios-clock-outline"></i> {{ absence.time }}</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span class="royal"><i class="icon ion-ios-box-outline"></i> {{ absence.subject }} ({{absence.subject_short}})</span>
            </ion-item>

            <ion-item class="item-icon-left ">
                <span class="royal"><i class="icon ion-ios-person"></i> {{ absence.teacher }}</span>
            </ion-item>

            <ion-item ng-show="absence.counts == 'true'" class="item-icon-left ">
                <span class="balanced"><i class="icon ion-ios-checkmark-outline"></i> Z&auml;hlt</span>
            </ion-item>

            <ion-item ng-show="absence.counts != 'true'" class="item-icon-left ">
                <span class="assertive"><i class="icon ion-ios-close-outline "></i> Z&auml;hlt nicht</span>
            </ion-item>

            <ion-item class="item-icon-left ">
                <span class="assertive"><i class="icon ion-ios-timer-outline"></i> {{ absence.days }} d - {{ absence.hours }} h - {{ absence.minutes }} min</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-compose-outline"></i> {{ absence.reason }}</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-filing-outline"></i> {{ absence.status }}</span>
            </ion-item>

            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-list-outline"></i> {{ absence.text || '-' }}</span>
            </ion-item>
        </ion-list>
        <div class="h10"></div>
    </ion-content>


</ion-view>