<ion-view>

    <ion-nav-title>Fehlzeit</ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <ion-list>

            <ion-item class="item-icon-left">
                <i class="icon ion-ios-person"></i> {{absence.student}}
            </ion-item>

            <ion-item class="item-icon-left">
                <i class="icon ion-ios-people"></i> {{absence.class_name}}
            </ion-item>

            <ion-item class="item-icon-left calm">
                <i class="icon ion-ios-calendar-outline "></i> {{ absence.day }} {{absence.date}}
            </ion-item>

            <ion-item class="item-icon-left positive">
                <i class="icon ion-ios-clock-outline"></i> {{ absence.time }}
            </ion-item>

            <ion-item class="item-icon-left royal">
                <i class="icon ion-ios-box-outline"></i> {{ absence.subject }} ({{absence.subject_short}})
            </ion-item>

            <ion-item class="item-icon-left royal">
                <i class="icon ion-ios-person"></i> {{ absence.teacher }}
            </ion-item>

            <ion-item ng-show="absence.counts == 'true'" class="item-icon-left balanced">
                <i class="icon ion-ios-checkmark-outline"></i> Z&auml;hlt
            </ion-item>

            <ion-item ng-show="absence.counts != 'true'" class="item-icon-left assertive">
                <i class="icon ion-ios-close-outline "></i> Z&auml;hlt nicht
            </ion-item>

            <ion-item class="item-icon-left assertive">
                <i class="icon ion-ios-timer-outline"></i> {{ absence.days }} d - {{ absence.hours }} h - {{ absence.minutes }} min
            </ion-item>

            <ion-item class="item-icon-left">
                <i class="icon ion-ios-compose-outline"></i> {{ absence.reason }}
            </ion-item>

            <ion-item class="item-icon-left">
                <i class="icon ion-ios-filing-outline"></i> {{ absence.status }}
            </ion-item>

            <ion-item class="item-icon-left">
                <i class="icon ion-ios-list-outline"></i> {{ absence.text || '-' }}
            </ion-item>

        </ion-list>
        <div class="h10"></div>
    </ion-content>


</ion-view>