<ion-view>

    <ion-nav-title>{{exam.typ}}: {{exam.name}}</ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <ion-list>

            <ion-item class="item-icon-left positive">
                <i class="icon ion-ios-calendar-outline"></i> {{exam.date}}
            </ion-item>
        
            <ion-item class="item-icon-left positive">
                <i class="icon ion-ios-clock-outline"></i> {{exam.start}} - {{exam.end}}
            </ion-item>
        
            <ion-item class="item-icon-left balanced">
                <i class="icon ion-ios-location-outline"></i> {{exam.room || '-'}}
            </ion-item>
        
            <ion-item class="item-icon-left royal">
                <i class="icon ion-ios-box-outline"></i> {{exam.subject || '-'}}
            </ion-item>
        
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-people"></i> {{exam.class_name || '-'}}
            </ion-item>
        
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-person"></i> {{exam.teacher || '-'}}
            </ion-item>
        
            <ion-item class="item-icon-left item-text-wrap" ng-if="exam.text">
                <i class="icon ion-ios-list-outline"></i> {{exam.text}}
            </ion-item>
        
            <ion-item class="item-icon-left item-text-wrap" ng-if="exam.mark">
                <i class="icon ion-university"></i> {{exam.mark}}
            </ion-item>
        
        </ion-list>
        <div class="h10"></div>
    </ion-content>


</ion-view>