<ion-view>

    <ion-nav-title>{{exam.typ}}: {{exam.name}}</ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>

    



    <ion-content padding="true" black>
        <ion-list>

            <ion-item class="item-icon-left ">
                <span class="positive"><i class="icon ion-ios-calendar-outline"></i> {{exam.date}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left ">
                <span class="positive"><i class="icon ion-ios-clock-outline"></i> {{exam.start}} - {{exam.end}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left ">
                <span class="balanced"><i class="icon ion-ios-location-outline"></i> {{exam.room || '-'}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left ">
                <span class="royal"><i class="icon ion-ios-box-outline"></i> {{exam.subject || '-'}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-people"></i> {{exam.class_name || '-'}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left">
                <span><i class="icon ion-ios-person"></i> {{exam.teacher || '-'}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left item-text-wrap" ng-if="exam.text">
                <span><i class="icon ion-ios-list-outline"></i> {{exam.text}}</span>
            </ion-item>
        
            <ion-item class="item-icon-left item-text-wrap" ng-if="exam.mark">
                <span><i class="icon ion-ribbon-b"></i> {{exam.mark}}</span>
            </ion-item>
        
        </ion-list>
        <div class="h10"></div>
    </ion-content>


</ion-view>