<ion-view title="Feiertage" >

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content padding="true" black >
        <ion-list padding="true">
        <div black>
            <ion-item ng-repeat="holiday in data" class="c-list-item " padding="true">

                <div class="row">
                    <div class="col tal">{{ holiday.longName }}</div>
                </div>

                <div class="row">
                    <div class="col tal">{{holiday.startDate}}</div>
                    <div class="col tal">{{holiday.endDate}}</div>
                </div>

            </ion-item>
            </div>
        </ion-list>

        <div class="h10"></div>
    </ion-content>

</ion-view>